python-dotenv

# Web app framework
streamlit

# PDF processing
PyPDF2

# Core libraries for language processing with LangChain
langchain
langchain-community
langchain-openai

# OpenAI API client
openai

faiss-cpu

tiktoken  # Tokenizer for OpenAI, sometimes required for LangChain


